
  <!-- Contact --> 
    <div class="full_size">
       <div class="container projects_overview text-center contact_details">
        
        <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 section">
           <i class="fa fa-map-marker"></i>
           <h3 class="title">ADDRESS</h3>
           <h3 class="details">18 Short Street, 9C Los Angeles, LA 10013</h3> 
            
        </div>
      
        <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1 section">
          
          <i class="fa fa-envelope"></i>
          <h3 class="title">SOCIAL</h3>
           
          <ul>
               <li><a href="https://www.facebook.com/montygoldy" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://plus.google.com/u/0/100731636953053341994/posts" title="Google+"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.linkedin.com/profile/view?id=AAMAAAMylOIBaBgwN-9Pdx45lpJ9hrQT4R9ZMgc&trk=hp-identity-name" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/montygoldy" title="GitHub"><i class="fa fa-github-alt" title=></i></a></li>
           </ul> 

        </div>
    
        <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1 section">
          <i class="fa fa-mobile"></i>
          <h3 class="title">PHONE</h3>
          <h3 class="details">+24 524 235681</h3>   
      
            
        </div>

        
    </div>
    </div>
</div>


 <!-- form -->

          <div class="container">

          <h2 class="text-center"> ANY QUESTION? DROP A MESSAGE</h2>
         <hr>
           <div class="col-md-8 col-md-offset-2 form_container">
            <%= form_for @contact do |f| %>
                <div class="col-md-6">
                    <%= f.text_field :name, :placeholder => "Name", required: true %> 
                </div>

                <div class="col-md-6">
                    
                    <%= f.email_field :email, :placeholder => "Email", required: true %>
                </div>

                <div class="col-md-12">
                    
                    <%= f.text_field :subject, :placeholder => "Subject", required: true %>
                </div>

                <div class="col-md-12">
               
                    <%= f.text_area :message, :placeholder => "Message....", required: true %>
                </div>

                <div class="hidden col-md-12">
                	  <%= f.text_field :nickname, hint: "hint leave this field blank" %> 
                </div>

                 <div class="col-md-12">
                    <div class="button">
                        <%= f.submit "Send Message" %>   
                     </div>
                 </div>
         <% end %>
        </div>
        </div>
