 <!-- form -->

          <div class="container">

          <h2 class="text-center"> ANY QUESTION? DROP A MESSAGE</h2>
         <hr>
           <div class="col-md-8 col-md-offset-2 form_container">
            <%= form_for @contact do |f| %>
                <div class="col-md-6">
                    <%= f.text_field :name, :placeholder => "Name", required: true %> 
                </div>

                <div class="col-md-6">
                    
                    <%= f.email_field :email, :placeholder => "Email", required: true %>
                </div>

                <div class="col-md-12">
                    
                    <%= f.text_field :subject, :placeholder => "Subject", required: true %>
                </div>

                <div class="col-md-12">
               
                    <%= f.text_area :message, :placeholder => "Message....", required: true %>
                </div>

                <div class="hidden col-md-12">
                	  <%= f.text_field :nickname, hint: "hint leave this field blank" %> 
                </div>

                 <div class="col-md-12">
                    <div class="button">
                        <%= f.submit "Send Message" %>   
                     </div>
                 </div>
         <% end %>
        </div>
        </div>
