<% provide(:title, @post.title) %>

<!-- banner -->

<div id="banner_clean">
	<h1><%= @post.title %></h1>
	<h5 class="text-center">
		<i class="fa fa-user"></i> Posted by Manpreet
		<span><i class="fa fa-calendar-minus-o"></i> <%= @post.created_at.strftime('%A, %d %b %Y') %></span>
	</h5>
	<hr>

</div>

<!-- Info Content -->
<div class="info_container article_container project_overview">
	<div class="container">

		<!-- About Me -->

		<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-xs-offset-0 col-xs-12 upper_info box info article">


			<%= markdown @post.content %>

			<hr class="article_share_hr">

			


			<h5 class="text-center share">Share</h5>

			<ul class="text-center share_links">
				<li><a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%=url_for([@post, {only_path: false}]) %>', '_blank', 'width=800', 'height=500', 'top=200', 'left=300');void(0);" ><i class="fa fa-facebook"></i></a></li>

				<li><a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @Manpreet - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800', 'height=500', 'top=200', 'left=300');void(0);" ><i class="fa fa-twitter"></i></a></li>

				<li><a onclick="javascript:window.open('http://plus.google.com/share?url=<%=url_for([@post, {only_path: false}]) %>', '_blank', 'width=800', 'height=500', 'top=200', 'left=300');void(0);" ><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>

			<% if user_signed_in? %>
			<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-xs-offset-0 col-xs-12 comment">
			<div class="editing_options">
				<ul>
					<li> <%= link_to edit_post_path(@post) do %> <i class="fa fa-pencil-square-o"></i> Edit Article <% end %></li>
					<li> <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure"} do %><i class="fa fa-times"></i> Delete Article<% end %></li>
				</ul>

			</div>
            </div>
			<% end %>
		

		<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-xs-offset-0 col-xs-12 upper_info box info comment">
			<%= render "disqus" %>
		</div>
	</div>
</div>

<!-- Next Previous button -->


<div class="next_button">
  
  <%= link_to "Next" ,@next_post if !@next_post.nil? %> 
	<i class="fa fa-angle-left"></i>
</div>

<div class="previous_button">
    <%= link_to "Previous", @prev_post if !@prev_post.nil? %>
	<i class="fa fa-angle-right"></i>
</div>